{%- comment -%} Collection List of teams - am {%- endcomment -%}

{%- liquid
  assign current_filter_size = 0

  for filter in collection.filters
    assign current_filter_size = current_filter_size | plus: filter.active_values.size
  endfor


  assign per_row = section.settings.grid
  assign paginate_by = per_row | times: 7

  case section.settings.grid
    when '1'
      assign grid_item_width = ''
    when '2'
      assign grid_item_width = 'medium-up--one-half'
    when '3'
      assign grid_item_width = 'small--one-half medium-up--one-third'
    when '4'
      assign grid_item_width = 'small--one-half medium-up--one-quarter'
    when '5'
      assign grid_item_width = 'small--one-half medium-up--one-fifth'
  endcase
-%}

<div
  class="collection-content"
  data-section-id="{{ section.id }}"
  data-section-type="collection-grid"
>

  <div id="CollectionAjaxContent" >
    <div class="page-width">

      {% assign collection_count = 0 %}

      {% for collection in collections %}
        {% if collection.handle contains 'buy' %}
          {% assign skipMe = true %}
        {% else %}
          {% assign skipMe = false %}
        {% endif %}
  
        {% assign productTags = collection.products.first.tags %}
  
        {% if productTags contains 'NFL' and skipMe == false %}
          {% render 'collection-grid-item' collection: collection, grid_item_width: grid_item_width  %}
          {% assign collection_count = collection_count | plus: 1 %}
        {% endif %}
      {% endfor %}


    </div>
  </div>
</div>

{%- if section.settngs.enable_sidebar == false or section.settings.filter_style == 'drawer' or collection.filters.size == 0 -%}
  {% comment %}
    Override grid styles if sidebar is disabled
  {% endcomment %}
  {% style %}
    .collection-content .grid__item--sidebar { width: 0; padding:0; }
    .collection-content .grid__item--content { width: 100%; }
    .grid__item--sidebar { position: static; overflow: hidden; }
  {% endstyle %}
{%- endif -%}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  {% if collection.description != blank %}
    "description": {{ collection.description | strip_html | json }},
  {% endif %}
  {% if page_image %}
    {% assign image_size = page_image.width | append: 'x' %}
    "image": {
      "@type": "ImageObject",
      "height": {{ page_image.height | json }},
      "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
      "width": {{ page_image.width | json }}
    },
  {% endif %}
  "name": {{ collection.title | json }}
}
</script>

{% schema %}
{
  "name": "t:sections.list-collections-template.name",
  "settings": [

    {
      "type": "select",
      "id": "grid",
      "label": "t:sections.list-collections-template.settings.grid.label",
      "default": "4",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    }

  ]

}
{% endschema %}
